#items-to-find {
    display: flex;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.item img {
    width: 40px;
    height: 60px;
    border-radius: 2px;
    user-select: none;
}

.item img:hover {
    transform: scale(2) translateY(10px);
    transition: transform 0.2s ease-in-out;
}

.found {
    text-decoration: line-through;
    filter: brightness(80%);
}

@media (max-width: 1055px) {
    #items-to-find {
        position: absolute;
        top: 60px;
        right: 38px;
        flex-direction: column;
        display: none;
        background-color: #131313;
        border-radius: 7px;
        box-shadow: 0 0 10px #131313;
        overflow: hidden;
        gap: 0;
    }

    .item {
        padding: 7px 10px;
        width: 150px;
    }

    .item:hover {
        background-color: rgb(30, 130, 155);
        transition: background-color 0.5s;
    }

    .item img {
        width: 50px;
    }

    .item img:hover {
        transform: none;
        transition: none;
    }

    #items-to-find.show {
        display: flex;
    }
}

@media (max-width: 525px) {
    #items-to-find {
        top: 57px;
        right: 20px;
    }
}